.eabcattalta_mobile_teacher_form .item-radio {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0;
    width: 70px;
}
.eabcattalta_mobile_teacher_form .item-inner {
    padding: 0;
}
.eabcattalta_mobile_teacher_form .radiolabel .item-inner {
    text-align: center;
}
.eabcattalta_mobile_teacher_form .item-inner .input-wrapper label,
.eabcattalta_mobile_teacher_form .radio {
    margin: 0;
}
.eabcattalta_mobile_teacher_form .radio .radio-icon {
    display: none;
}

.eabcattalta_mobile_teacher_form .messages .label,
.eabcattalta_mobile_user_form .messages .label,
.eabcattalta_mobile_view_page .messages .label {
    white-space: normal;
}

.eabcattalta_mobile_teacher_form .eabcattalta_user_row {
    padding-bottom: 5px;
}
