.path-mod-eabcattalta .attbtn {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

.path-mod-eabcattalta .attcurbtn {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

.path-mod-eabcattalta .attfiltercontrols {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.path-mod-eabcattalta .attfiltercontrols #currentdate {
    display: inline;
}

.path-mod-eabcattalta .attwidth {
    margin: auto;
}

.path-mod-eabcattalta .userwithoutenrol,
.path-mod-eabcattalta .userwithoutenrol a {
    color: gray;
}

.path-mod-eabcattalta .userwithoutdata,
.path-mod-eabcattalta .userwithoutdata a {
    color: red;
}

.path-mod-eabcattalta .takelist td {
    vertical-align: middle;
}

.path-mod-eabcattalta .takelist .userpicture {
    margin: 0 3px;
    vertical-align: middle;
}

.path-mod-eabcattalta .takegrid input {
    margin: 0 3px 0 6px;
}

.path-mod-eabcattalta .takegrid .fullname {
    font-size: 0.8em;
}

.path-mod-eabcattalta table.controls {
    text-align: center;
    width: 100%;
}

.path-mod-eabcattalta table.controls tr {
    vertical-align: top;
}

.path-mod-eabcattalta table.controls td.right,
.path-mod-eabcattalta table.controls td.left {
    padding: 4px;
}

.path-mod-eabcattalta table.controls .right {
    text-align: right;
}
/* for IE7*/
.path-mod-eabcattalta .filtercontrols td {
    padding: 6px;
}

.path-mod-eabcattalta .takecontrols {
    margin: 0 auto 20px auto;
    width: 800px;
}
.path-mod-eabcattalta .takecontrols table {
    margin: 0 auto;
}
.path-mod-eabcattalta .takecontrols .c0 {
    text-align: left;
    width: 500px;
}
.path-mod-eabcattalta .takecontrols .c1 {
    text-align: right;
}

.path-mod-eabcattalta .inline,
.path-mod-eabcattalta .inline form,
.path-mod-eabcattalta .inline div {
    display: inline;
}

.path-mod-eabcattalta table.userinfobox {
    border: 1px solid #eee;
    padding: 0;
}
.path-mod-eabcattalta table.userinfobox td.left {
    background-color: #eee;
    padding: 30px 10px;
}
.path-mod-eabcattalta table.attlist td.c0 {
    text-align: right;
}

#page-mod-eabcattalta-preferences .generalbox {
    text-align: center;
}

.path-mod-eabcattalta .attsessions_manage_table .action-icon img.smallicon {
    margin-left: 5px;
}
#page-mod-eabcattalta-sessions input[type="checkbox"] {
    margin-right: 2px;
}

.path-mod-eabcattalta .setallstatuses {
    text-align: right;
}

.path-mod-eabcattalta .remarkholder {
    position: relative;
}

.path-mod-eabcattalta .remarkholder .remarkcontent {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #ccc;
    display: none;
    left: 20px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 150px;
    z-index: 5000;
}

.path-mod-eabcattalta .remarkholder:hover .remarkcontent {
    display: inline-block;
}

.path-mod-eabcattalta .eabcattaltastatus-P {
    color: green;
}

.path-mod-eabcattalta .eabcattaltastatus-E {
    color: #00aee3;
}

.path-mod-eabcattalta .eabcattaltastatus-L {
    color: #f7931e;
}

.path-mod-eabcattalta .eabcattaltastatus-A {
    color: red;
}

.path-mod-eabcattalta .attreport .contrast {
    background-color: #eaeaea;
}

.path-mod-eabcattalta .attreport .center {
    text-align: center;
}

.path-mod-eabcattalta .attreport .left {
    text-align: left;
}

.path-mod-eabcattalta .attreport .bottom {
    vertical-align: bottom;
}

.path-mod-eabcattalta .attreport .nowrap {
    white-space: nowrap;
}

.path-mod-eabcattalta .attreport .narrow {
    width: 1px;
}

.path-mod-eabcattalta .attreport img.userpicture {
    max-width: inherit;
}

.path-mod-eabcattalta .student-password {
    font-size: x-large;
    text-align: center;
}
.path-mod-eabcattalta .ungraded {
    font-size: smaller;
    font-style: italic;
}
#page-mod-eabcattalta-sessions .statusgroup .statusdesc {
    margin-right: 12px;
}

#page-mod-eabcattalta-view .averageeabcattalta {
    font-weight: bold;
}

#page-mod-eabcattalta-preferences .form-control {
    width: inherit;
    display: inherit;
}

@media (max-width: 767px) {
    .path-mod-eabcattalta .remarkscol {
        display: none;
    }

    .path-mod-eabcattalta .statusgroup .form-check-inline {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #page-mod-eabcattalta-view .colatt {
        display: none;
    }

    .path-mod-eabcattalta .attfiltercontrols,
    .path-mod-eabcattalta .attwidth {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .path-mod-eabcattalta .desccol {
        display: none;
    }

    .path-mod-eabcattalta .pointscol {
        display: none;
    }

    .path-mod-eabcattalta .attfiltercontrols #currentdate {
        display: none;
    }

    #page-mod-eabcattalta-view .colsessionscompleted,
    #page-mod-eabcattalta-view .colpointssessionscompleted {
        display: none;
    }
}

#page-mod-eabcattalta-report .eabcattaltareporttable {
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
    margin-left: 180px;
}

#page-mod-eabcattalta-report .eabcattaltareporttable .headcol {
    position: absolute;
    width: 200px;
    left: 15px;
    top: auto;
    border-top-width: 1px;
}

#page-mod-eabcattalta-report .eabcattaltareporttable .headcol input[type='checkbox'] {
    margin-right: 4px;

}

.eabcattaltareporttable img.icon {
    padding-left: 5px;
}

/* CSS for old clean based themes with docks etc. */
#page-mod-eabcattalta-report.has-region-side-pre:not(.empty-region-side-pre) .eabcattaltareporttable .headcol {
    left: 370px;
}

#page-mod-eabcattalta-report.has-region-side-pre:not(.empty-region-side-pre) .eabcattaltareporttable {
    margin-left: 230px;
}

#page-mod-eabcattalta-report.has-region-side-pre:not(.empty-region-side-pre).content-only .eabcattaltareporttable .headcol {
    left: 80px;
}

@media (max-width: 767px) {
    #page-mod-eabcattalta-report.has-region-side-pre:not(.empty-region-side-pre) .eabcattaltareporttable .headcol {
        left: 80px;
    }
}
