{{!
    @template eabcattalta/eabcattalta_password_icon Boost Example.
    This is an example of a template you could copy into a boost based theme to use proper popover.
    At the moment we cannot specify different templates to use in plugin so we use
    a cross-compatible link based pop-up for the password.

    eabcattalta_password  icon.

    Example context (json):
    {
        "title": "Help with something",
        "url": "http://example.org/help",
        "linktext": "",
        "icon":{
            "attributes": [
                {"name": "class", "value": "iconhelp"},
                {"name": "src", "value": "../../../pix/help.svg"},
                {"name": "alt", "value": "Help icon"}
            ]
        }
    }
}}
<a class="btn btn-link p-a-0" role="button"
    data-container="body" data-toggle="popover"
    data-placement="{{#ltr}}left{{/ltr}}{{^ltr}}right{{/ltr}}" data-content="<span class='student-pass'>{{text}}</span> {{completedoclink}}"
    data-html="true" tabindex="0" data-trigger="focus">
    {{#pix}}key, eabcattalta, {{alt}}{{/pix}}
</a>
