{{!
    @template eabcattalta/eabcattalta_password_icon

    eabcattalta_password  icon.

    Example context (json):
    {
        "title": "Help with something",
        "url": "http://example.org/help",
        "linktext": "",
        "icon":{
            "attributes": [
                {"name": "src", "value": "../pix/key.svg"},
                {"name": "alt", "value": "Password icon"}
            ]
        }
    }
}}
<span class="helptooltip">
    <a href="{{url}}" title={{#quote}}{{title}}{{/quote}} aria-haspopup="true" target="_blank">{{#icon}}{{>core/pix_icon}}{{/icon}}{{#linktext}}{{.}}{{/linktext}}</a>
</span>
