{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_eabcattalta/mobile_user_form

    The page to take eabcattalta

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * eabcattalta
    * summary
    * cmid

    Example context (json):
    {
        "eabcattalta": {
            "id": "1",
            "course": "2",
            "name": "Class eabcattalta",
            "intro": "Intro"
        },
        "cmid": "25",
        "courseid": "4",
        "sessid": "43"
    }
}}
{{=<% %>=}}
<div class="eabcattalta_mobile_user_form">
    <core-course-module-description description="<% eabcattalta.intro %>" component="mod_eabcattalta" componentId="<% cmid %>"></core-course-module-description>
    <%#showmessage%>
        <%#messages%>
            <span class="messages">
                <ion-item>
                    {{ 'plugin.mod_eabcattalta.<% string %>' | translate }}
                </ion-item>
            </span>
        <%/messages%>
    <%/showmessage%>
    <%#showpassword%>
    <ion-list [(ngModel)]="studentpass">
    <ion-item>
        <ion-label>{{ 'plugin.mod_eabcattalta.enterpassword' | translate }}:</ion-label>
        <ion-input type="text" name="studentpass"></ion-input>
    </ion-item>
    </ion-list>
    <%/showpassword%>
    <%#showstatuses%>
    <ion-list radio-group [(ngModel)]="status">
        <%#statuses%>
        <ion-item>
            <ion-label><% description %></ion-label>
            <ion-radio value="<% stid %>"></ion-radio>
        </ion-item>
        <%/statuses%>
    </ion-list>
    <button ion-button core-site-plugins-new-content component="mod_eabcattalta" method="mobile_view_activity" [args]="{cmid: <% cmid %>, courseid: <% courseid %>, sessid: <% sessid %>, status: status, studentpass: studentpass}">
        {{ 'plugin.mod_eabcattalta.submiteabcattalta' | translate }}
    </button>
    <%/showstatuses%>
    <%#disabledduetotime%>
    {{ 'plugin.mod_eabcattalta.somedisabledstatus' | translate }}
    <%/disabledduetotime%>
</div>
